/*  UNIVERSAL SELECTOR  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-section {
  background: #fff;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow:0 0 10px #0000004a;
}
.margin {
  margin: 20px 0px;
}
.header-container {
  width: 90%;
  margin: auto;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-head {
  font-family: poppins, sans-serif;
  font-size: 28px;
}
.header-anchor {
  text-decoration: none;
  color: #000;
  padding-right: 30px;
  font-family: poppins, sans-serif;
}
.button {
  background-color: #4287f5;
  padding: 10px 40px;
  border-radius: 25px;
  color: #fff;
}
.header-anchor:hover {
  color: #3a73cf;
}
.button:hover {
  color: #fff;
  background-color: #3a73cf;
}

.section {
  padding: 60px 0px;
}
.home-container {
  margin: auto;
  width: 90%;
}
.home-row {
  display: flex;
}
.home-col {
  width: 50%;
  overflow: hidden;
}
.home-head {
  font-family: poppins, sans-serif;
  font-size: 55px;
  padding-bottom: 30px;
  padding-top: 50px;
}
.home-para {
  font-family: poppins, sans-serif;
  font-size: 30px;
  color: #0107108c;
  padding-bottom: 50px;
}
.home-heading{
	padding-bottom:20px;
}
.home-button {
  border: 2px solid #4287f5;
  color: #4287f5;
  padding: 10px 40px;
  border-radius: 50px;
  text-decoration: none;
  font-family: poppins, sans-serif;
}
.home-button:hover {
  background-color: #4287f5;
  color: #fff;
}
.home-image {
  max-width: 100%;
}
.home-image {
  animation-name: image;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes image {
  0% {
    transform: translatey(-30px);
    transition: all 1s;
  }
  50% {
    transform: translatey(-10px);
    transition: all 1s;
  }
  100% {
    transform: translatey(-30px);
    transition: all 1s;
  }
}

.img-section {
  background-color: #21d1fc1f;
  padding:30px;
}
.img-container {
  margin: auto;
  width: 100%;
}
.img-row {
  display: flex;
  align-items:center;
}
.img-image{
	display:flex;
	justify-content:center;
}
.img-sec {
  max-width: 50%;
  filter: grayscale(100%);
}
.img-sec:hover{
	filter:grayscale(1%);
	cursor:pointer;
}
.about-section {
  margin-top: 40px;
}
.about-container {
  margin: auto;
  width: 90%;
}
.about-row {
  display: flex;
}
.about-col {
  width: 50%;
}
.about-hp {
  position: relative;
}
.about-heading::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #3a73cf;
  top: 20%;
  left: 39%;
}
.about-heading::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #3a73cf;
  top: 20%;
  right: 39%;
}
.about-heading {
  font-family: poppins, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
}
.about-para {
  font-family: poppins, sans-serif;
  font-size: 18px;
  padding-bottom: 30px;
  color: #0107108c;
}
.about-row1 {
  font-family: poppins, sans-serif;
  font-size: 18px;
  color: #0107108c;
  display: flex;
}
.about-icon {
  color: #3a73cf;
  font-size: 20px;
  padding-right: 15px;
}
.about-li1 {
  padding-bottom: 20px;
}
.about-li2 {
  padding-bottom: 20px;
}
.about-button {
  color: #3a73cf;
  border: 2px solid #3a73cf;
  padding: 10px 40px;
  border-radius: 50px;
  font-family: poppins, sans-serif;
  text-decoration: none;
}
.about-button:hover {
  background-color: #3a73cf;
  color: #fff;
}
.about-para1 {
  font-family: raleway, sans-serif;
  font-size: 22px;
  padding-bottom: 30px;
  color: #0107108c;
}

.about1-container {
  margin: auto;
  width: 90%;
}
.about1-row {
  display: flex;
  gap: 2%;
}
.about1-column1 {
  width: 40%;
}
.about1-column2{
	width:60%;
}
.about1-row1 {
  display: flex;
  flex-wrap: wrap;
}
.about1-col1 {
  width: 50%;
  display: flex;
  padding-right: 20px;
}
.about1-image {
  max-width: 100%;
}
.about1-icon {
  color: #3a73cf;
  font-size: 50px;
  padding-right: 15px;
}
.about1-heading {
  font-family: poppins, sans-serif;
  font-size: 45px;
  padding-bottom: 15px;
}
.about1-para {
  font-family: raleway, sans-serif;
  color: #0107108c;
}
.hp {
  padding-bottom: 50px;
}

.service-section {
  background-color: #00000005;
}
.service-container {
  width: 90%;
  margin: auto;
}
.service-heading {
  text-align: center;
  position: relative;
}
.service-para {
  padding-bottom: 30px;
  padding-top: 20px;
  font-family: poppins, sans-serif;
  font-size: 18px;
  color: #0107108c;
}
.service-head::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  left: 39%;
  top: 15%;
  background-color: #3a73cf;
}
.service-head::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  right: 39%;
  top: 15%;
  background-color: #3a73cf;
}
.service-head {
  font-family: poppins, sans-serif;
  font-size: 30px;
}
.service-row {
  display: flex;
}
.service-col {
  width: 25%;
  padding: 20px;
}
.service-card {
  width: 100%;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #000;
}
.service-card:hover {
  background-color: #3a73cf;
  cursor: pointer;
  color: #fff;
}

.service-card:hover .service-icon {
  background-color: #fff;
  color: #3a73cf;
}
.service-card:hover .hp-para {
  color: #fff;
}
.service-icon {
  color: #fff;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #3a73cf;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a73cf;
}
.hp-head {
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: poppins, sans-serif;
  font-size: 20px;
}
.hp-para {
  font-family: poppins, sans-serif;
  font-size: 18px;
  color: #0107108c;
}

.service1-container {
  width: 93%;
  margin: auto;
}
.service1-row {
  display: flex;
  flex-wrap: wrap;
}
.service1-col {
  width: 50%;
  position: relative;
}
.service1-card {
  width: 100%;
  padding: 10px 10px;
}
.service1-para {
  color: #0107108c;
}
.service1-image {
  max-width: 100%;
}
.parent-icon {
  display: flex;
}
.service1-head {
  width: 90%;
  padding:10px 10px;
  background-color: #ffffffdb;
  position: absolute;
  top: 55%;
  left: 5%;
  border-radius:10px;
}
.service1-head:hover {
  background-color: #3a73cf;
  color: #fff;
  cursor: pointer;
}
.service1-head:hover p {
  color: #fff;
}
.service1-head:hover .service1-anchor {
  color: #fff;
}
.service1-hp {
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: poppins, sans-serif;
  text-align: center;
}
.service1-para {
  padding-bottom: 20px;
  font-family: raleway, sans-serif;
  padding-left: 20px;
}
.service1-anchor {
  color: #0107108c;
}
.parent-icon {
  padding-left: 20px;
  font-family: poppins, sans-serif;
}

.feature-container {
  width: 90%;
  margin: auto;
}
.feature-heading {
  text-align: center;
  position: relative;
}
.feature-head {
  font-family: poppins, sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
}
.feature-head::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 14%;
  right: 37%;
}
.feature-head::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 14%;
  left: 37%;
}
.feature-para {
  padding-bottom: 30px;
  font-family: raleway, sans-serif;
  color: #0107108c;
  font-size: 20px;
}
.feature-row {
  display: flex;
  flex-wrap: wrap;
}
.feature-col {
  width: 25%;
  padding: 10px;
}
.feature-card {
  display: flex;
  background-color: #c9c6c533;
  padding: 20px;
}
.feature-card:hover {
  background-color: #21d1fc1f;
  cursor: pointer;
}
.feature-icon {
  font-size: 30px;
  padding-right: 15px;
  color: #2196f3b3;
}
.f-head {
  font-family: poppins, sans-serif;
  font-size: 18px;
  padding-top: 5px;
}
.f-head:hover {
  color: #3a73cf;
}

.test-section {
  background-color: #3a73cf1a;
}
.test-container {
  margin: auto;
  width: 90%;
}

.test-col {
  position: relative;
  padding-left: 50px;
}
.test-heading {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: poppins, sans-serif;
  font-size:30px;
}
.test-head {
  position: relative;
}
.test-heading:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 16.5%;
  right: 34%;
}
.test-heading:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 16.5%;
  left: 34%;
}
.test-para {
  text-align: center;
  padding-bottom: 50px;
  font-family: poppins, sans-serif;
  color: #0107108c;
}
.test-hp {
  width: 80%;
  border: 2px solid #fff;
  font-family: poppins, sans-serif;
  padding: 10px 40px;
  background-color: #fff;
}
.test-hp1 {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.test-hp2 {
  font-size: 15px;
  padding-bottom: 20px;
  color: #0107108c;
}
.test-para1 {
  color: #0107108c;
}
.test-icon {
  font-size: 30px;
  color: #21d1fc1f;
}
.test-image {
  position: absolute;
  top: 20%;
  right: 40%;
}
.test-img {
  max-width: 25%;
  border: 5px solid #fff;
  border-radius: 10px;
}

.port-container {
  width: 90%;
  margin: auto;
}
.port-heading {
  text-align: center;
  font-family: poppins, sans-serif;
  padding-bottom: 30px;
  position: relative;
}

.port-head1:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 10%;
  right: 36%;
}
.port-head1:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 10%;
  left: 36%;
}
.port-head1 {
  font-size: 30px;
}
.port-para {
  padding-bottom: 30px;
  padding-top: 20px;
  color: #0107108c;
}
.port-a {
  text-decoration: none;
  color: #000;
  padding: 10px;
}
.port-a:hover {
  background-color: #3a73cf;
  color: #fff;
}
.port-row {
  display: flex;
  flex-wrap: wrap;
}
.port-col {
  width: 33.3%;
  padding: 15px;
}
.port-card {
  width: 100%;
  overflow: hidden;
}
.port-card:hover img{
	transform:scale(1.1,1.1);
	transition:all 1s;
}
.port-image {
  max-width: 100%;
}
.port-icon1 {
  display: flex;
}
.port-card {
  position: relative;
}
.port-hp {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50vh;
  background-color: #00000047;
  visibility: hidden;
  opacity: 0;
}
.port-hp1 {
  padding-left: 20px;
  padding-top: 170px;
  color: #fff;
}
.port-hp1 h4 {
  color: #e8e7e3;
}
.port-hed h3 {
  font-size: 25px;
  padding-bottom: 10px;
}
.port-hed h4 {
  padding-bottom: 10px;
}
.port-icon1 {
  font-size: 30px;
}
.port-card:hover .port-hp {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}

.team-section {
  background-color: #3a73cf0f;
}
.team-container {
  margin: auto;
  width: 90%;
}
.team-heading {
  padding-bottom: 40px;
  font-family: poppins, sans-serif;
  text-align: center;
  position: relative;
}
.team-head:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 15%;
  right: 40%;
}
.team-head:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 15%;
  left: 40%;
}
.team-head {
  padding-bottom: 20px;
  font-size: 30px;
}
.team-para {
  color: #0107108c;
}
.team-row {
  display: flex;
}
.team-col {
  width: 25%;
  padding: 10px;
}
.team-card {
  width: 100%;
  position: relative;
}
.team-image {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}
.team-card:hover .team-icon {
  opacity: 1;
  visibility: visible;
}
.team-icon1:hover {
  color: #139de8;
}
.team-icon {
  display: flex;
  justify-content: center;
  background: linear-gradient(#ffffff8a, #ffffff78);
  padding: 0px 52px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 62%;
}
.team-icon1 {
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
}
.team-hp {
  width: 285px;
  border: 1px solid #fff;
  background-color: #fff;
  font-family: poppins, sans-serif;
  text-align: center;
}
.team-h {
  padding-bottom: 10px;
  padding-top: 20px;
}
.team-p {
  padding-bottom: 20px;
  color: #0107108c;
}

.price-container {
  width: 90%;
  margin: auto;
}
.price-heading {
  text-align: center;
  padding-bottom: 30px;
  font-family: poppins, sans-serif;
  position: relative;
}
.price-head {
  font-size: 30px;
  padding-bottom: 20px;
}
.price-head:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 12%;
  right: 38%;
}
.price-head:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 12%;
  left: 38%;
}
.price-para {
  color: #0107108c;
}
.price-row {
  display: flex;
}
.price-col {
  width: 33.3%;
  padding: 15px;
}
.price-card {
  text-align: center;
  background-color: #d1e3e357;
  padding: 10px;
  font-family: poppins, sans-serif;
}
.card2 {
  border: 2px solid #139de8;
  border-radius: 10px;
}
.price-hp {
  padding-bottom: 40px;
}
.price-h1 {
  padding: 20px 0;
}
.price-h2 {
  color: #139de8;
  font-size: 30px;
  padding-bottom: 20px;
}
sub {
  color: #0107108c;
}
.price-p1 {
  padding-bottom: 20px;
}
.price-p2 {
  padding-bottom: 20px;
  color: #0107108c;
}
.gap {
  padding-bottom: 60px;
}
.price-a {
  text-decoration: none;
  color: #139de8;
  border: 2px solid #139de8;
  padding: 10px 20px;
  border-radius: 20px;
}
.card2 .price-a {
  background-color: #139de8;
  color: #fff;
}
.price-a:hover {
  background-color: #139de8;
  color: #fff;
}

.faq-container {
  margin: auto;
  width: 80%;
}
.faq-heading {
  position: relative;
}
.faq-head {
  font-family: poppins, sans-serif;
  font-size: 30px;
  padding-bottom: 70px;
  text-align: center;
}
.faq-head:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 13%;
  right: 19%;
}
.faq-head:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 13%;
  left: 19%;
}
.faq-row {
  display: flex;
  flex-wrap:wrap;
}
.faq-col1 {
  width: 40%;
  padding-right:20px;
}
.faq-col2 {
  width: 60%;
}
.faq-card{
	width:100%;
	padding-right:10px;
}
.icon-flex {
  display: flex;
}
.faq-head1 {
  font-family: poppins, sans-serif;
  color: #0107108c;
  font-size: 17px;
}
.faq-icon {
  font-size: 25px;
  color: #139de8;
  padding-right: 10px;
}
.faq-para {
  padding-bottom: 80px;
  font-family: raleway, sans-serif;
  color: #0107108c;
}
.faq-para1 {
  font-family: raleway, sans-serif;
  color: #0107108c;
}

.contact-section {
  z-index: 0;
}
.contact-container {
  width: 85%;
  margin: auto;
}
.contact-heading {
  position: relative;
  text-align: center;
  font-family: poppins, sans-serif;
  font-size: 30px;
  padding-bottom: 60px;
}
.contact-head:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 20%;
  right: 30%;
}
.contact-head:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 20%;
  left: 30%;
}
.contact-row {
  display: flex;
}
.contact-col1 {
  width: 30%;
  padding-right: 10px;
}
.contact-col2 {
  width: 30%;
  font-family: poppins, sans-serif;
  color: #0107108c;
}
.contact-col3 {
  width: 40%;
}
.contact-hp {
  font-family: poppins, sans-serif;
}
.contact-h1 {
  font-size: 33px;
  padding-bottom: 20px;
}
.contact-para {
  color: #0107108c;
  padding-bottom: 20px;
}
.col1-icon {
  display: flex;
}
.contact-icon {
  padding-right: 20px;
}
.icon1 {
  width: 40px;
  height: 40px;
  border: 2px solid #139de8;
  color: #139de8;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon1:hover {
  background-color: #139de8;
  color: #fff;
  cursor: pointer;
}

.contact-hp1 {
  display: flex;
}
.col2-icon {
  color: #139de8;
  font-size: 30px;
  padding-right: 20px;
}
.col2-h {
  font-size: 15px;
  padding-bottom: 30px;
}
.col2-h1 {
  padding-bottom: 15px;
  font-size: 15px;
}
.col2-h2 {
  padding-bottom: 30px;
  padding-left: 50px;
  font-size: 15px;
}
.address {
  padding-top: 500px;
}
input {
  width: 100%;
  padding: 10px;
}
.input1 {
  padding-bottom: 20px;
}
.input2 {
  padding-bottom: 20px;
}
.input3 {
  padding-bottom: 20px;
}
.input4 {
  padding-bottom: 40px;
  font-family: poppins, sans-serif;
}
.input5 {
  padding-left: 100px;
}
.contact-button {
  background-color: #139de8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-family: poppins, sans-serif;
}
.footer-section {
  margin-bottom: 40px;
}
.footer-container {
  margin: auto;
  width: 100%;
}
.footer-row {
  display: flex;
}
.footer-col {
  width: 50%;
  font-family: poppins, sans-serif;
  text-align: center;
}
.foot-para {
  padding-bottom: 10px;
}
.bootstrap {
  text-decoration: none;
  color: #139de8;
}
.footer-col1 {
  width: 45%;
  font-family: poppins, sans-serif;
  display: flex;
  justify-content: center;
}
.footer-col3 {
  width: 5%;
  display: flex;
  justify-content: flex-end;
}
.footer-icon a {
  color: #fff;
  text-decoration: none;
}
.footer-icon {
  font-size: 40px;
  background-color: #139de8;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
}
.foot-a a {
  text-decoration: none;
  color: #000; 
}
.foot-a {
  padding-right: 20px;
}

/*  MEDIA QUERY 320PX  */
@media (min-width:320px){
.header-container{
	width:100%;
	margin:auto;
}
.header-row{
	display:flex;
	flex-wrap:wrap;
}
.header-col{
	width:50%;
}

.home-container {
  margin: auto;
  width: 100%;
}
.home-row {
  display: flex;
  flex-wrap:wrap;
}
.home-col {
  width: 100%;
}
.order{
	order:2;
}

.img-container {
  margin: auto;
  width: 100%;
}
.img-row {
  display: flex;
  flex-wrap:wrap;
}
.img-image{
	width:50%;
	padding-bottom:20px;
}

.about-container {
  margin: auto;
  width: 100%;
}
.about-row {
  display: flex;
  flex-wrap:wrap;
}
.about-col {
  width: 100%;
  padding-bottom:20px;
}
.about-hp {
  position: relative;
}
.about-heading::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #3a73cf;
  top: 22%;
  left: 9%;
}
.about-heading::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #3a73cf;
  top: 22%;
  right:9%;
}

.about1-container {
  margin: auto;
  width: 100%;
}
.about1-row {
  display: flex;
  flex-wrap:wrap;
}
.about1-col {
  width: 100%;
}
.about1-row1 {
  display: flex;
  flex-wrap: wrap;
}
.about1-col1 {
  width: 100%;
  display: flex;
}
.about1-img {
  max-width: 100%;
}
.about1-column1{
	width:100%;
}
.about1-column2{
	width:100%;
}


.service-container {
  width: 100%;
  margin: auto;
}
.service-heading {
  position: relative;
}

.service-head::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  left: 7%;
  top: 12%;
  background-color: #3a73cf;
}
.service-head::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  right: 7%;
  top: 12%;
  background-color: #3a73cf;
}
.service-row {
  display: flex;
  flex-wrap:wrap;
}
.service-col {
  width: 100%;
  padding: 20px;
}

.service1-container {
  width: 100%;
  margin: auto;
}
.service1-row {
  display: flex;
  flex-wrap: wrap;
}
.service1-col {
  width: 100%;
  position: relative;
  padding:20px;
}
.service1-image{
	max-width:100%;
}

.service1-head {
  width: 75%;
  background-color: #ffffffdb;
  position: absolute;
  top: 11%;
  left: 12.5%;
  border-radius:10px;
}
.service1-hp{
	padding-bottom:10px;
	padding-top:10px;
}
.service1-para{
	padding-bottom:10px;
}
.feature-container{
	width:100%;
	margin:auto;
}
.feature-row {
  display: flex;
  flex-wrap: wrap;
}
.feature-col {
  width: 100%;
  padding: 10px;
}
.feature-heading{
	position:relative;
}
.feature-head::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 10%;
  right: 0%;
}
.feature-head::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 10%;
  left: 0%;
}
.test-container{
	margin:auto;
	width:100%;
}
.test-head {
  position: relative;
}
.test-heading{
	font-size:20px;
}
.test-heading:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 11.5%;
  right: 2%;
}
.test-heading:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 11.5%;
  left: 2%;
}
.test-image {
  position: absolute;
  top: 20%;
  right: 5%;
}
.port-container{
	margin:auto;
	width:100%;
}
.port-head1{
	font-size:20px;
}
.port-heading{
  position: relative;
}

.port-head1:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 6%;
  right: 9%;
}
.port-head1:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 6%;
  left: 9%;
}
.port-row{
	display:flex;
	flex-wrap:wrap;
}
.port-col{
	width:100%;
}
.port-hp1 {
  padding-left: 20px;
  padding-top: 100px;
  color: #fff;
}
.team-container{
	margin:auto;
	width:100%;
}
.team-row{
	display:flex;
	flex-wrap:wrap;
}
.team-col{
	width:100%;
}
.team-heading{
  position: relative;
}
.team-head:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 11%;
  right: 12%;
}
.team-head:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 11%;
  left: 12%;
}
.team-hp{
	width:300px;
}
.team-icon{
	width:300px;
}
.price-container{
	width:100%;
	margin:auto;
}
.price-head:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 12%;
  right: 4%;
}
.price-head:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 12%;
  left: 4%;
}
.price-row {
  display: flex;
  flex-wrap:wrap;
}
.price-col {
  width: 100%;
  padding-bottom: 15px;
}
.faq-container{
	margin:auto;
	width:90%;
}
.faq-head{
	font-size:28px;
}
.faq-head:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #139de8;
  top: 50%;
  right: 40%;
}
.faq-head:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #139de8;
  top: 11%;
  left: 0%;
}
.faq-row {
  display: flex;
  flex-wrap:wrap;
}
.faq-col1 {
  width: 100%;
}
.faq-col2 {
  width: 100%;
  padding-top:20px;
}
.contact-container{
	margin:auto;
	width:90%;
}
.contact-head{
	font-size:20px;
}
.contact-head:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 10%;
  right: 1%;
}
.contact-head:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 10%;
  left: 1%;
}
.contact-row {
  display: flex;
  flex-wrap:wrap;
}
.contact-col1 {
  width: 100%;
  padding-bottom: 30px;
}
.contact-col2 {
  width: 100%;
  padding-bottom:30px;
}
.contact-col3 {
  width: 100%;
}
.input5{
	padding-left:68px;
}

.footer-container {
  margin: auto;
  width: 100%;
}
.footer-row {
  display: flex;
  flex-wrap:wrap;
}
.footer-col {
  width: 100%;
  padding-bottom:20px;
}
.footer-col1{
	width:100%;
}
.foot-a{
	font-size:12px;
}
}


/*  MEDIA QUERY 320PX  */
@media (min-width:700px){
.header-container{
	width:100%;
	margin:auto;
}
.header-row{
	display:flex;
	align-items: center;
  justify-content: space-between;
}
.header-col{
	width:50%;
}

.home-container {
  margin: auto;
  width: 100%;
}
.home-row {
  display: flex;
  flex-wrap:wrap;
}
.home-col {
  width: 100%;
}
.order{
	order:2;
}

.img-container {
  margin: auto;
  width: 90%;
}
.img-row {
  display: flex;
  flex-wrap:wrap;
}
.img-image{
	width:33.3%;
	padding-bottom:20px;
}

.about-container {
  margin: auto;
  width: 100%;
}
.about-row {
  display: flex;
  flex-wrap:wrap;
}
.about-col {
  width: 100%;
  padding-bottom:20px;
}
.about-hp {
  position: relative;
}
.about-heading::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #3a73cf;
  top: 22%;
  left: 30%;
}
.about-heading::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #3a73cf;
  top: 22%;
  right:30%;
}

.about1-container {
  margin: auto;
  width: 100%;
}
.about1-row {
  display: flex;
  flex-wrap:wrap;
}
.about1-col {
  width: 100%;
}
.about1-row1 {
  display: flex;
  flex-wrap: wrap;
}
.about1-col1 {
  width: 50%;
  display: flex;
}
.about1-img {
  max-width: 100%;
}
.about1-column1{
	width:100%;
}
.about1-column2{
	width:100%;
}


.service-container {
  width: 100%;
  margin: auto;
}
.service-heading {
  position: relative;
}

.service-head::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  left: 31%;
  top: 12%;
  background-color: #3a73cf;
}
.service-head::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  right: 31%;
  top: 12%;
  background-color: #3a73cf;
}
.service-row {
  display: flex;
  flex-wrap:wrap;
}
.service-col {
  width: 50%;
  padding: 20px;
}

.service1-container {
  width: 100%;
  margin: auto;
}
.service1-row {
  display: flex;
  flex-wrap: wrap;
}
.service1-col {
  width: 50%;
  position: relative;
  padding:20px;
}
.service1-image{
	max-width:100%;
}

.service1-head {
  width: 70%;
  background-color: #ffffffdb;
  position: absolute;
  top: 11%;
  left: 15%;
  border-radius:10px;
}
.service1-hp{
	padding-bottom:10px;
	padding-top:10px;
}
.service1-para{
	padding-bottom:10px;
}
.feature-container{
	width:100%;
	margin:auto;
}
.feature-row {
  display: flex;
  flex-wrap: wrap;
}
.feature-col {
  width: 33.3%;
}
.feature-heading{
	position:relative;
}
.feature-head::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 14%;
  right: 28%;
}
.feature-head::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 14%;
  left: 28%;
}
.feature-card{
	padding:10px;
}
.test-container{
	margin:auto;
	width:100%;
}
.test-head {
  position: relative;
}
.test-heading{
	font-size:20px;
}
.test-heading:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 13%;
  right: 28%;
}
.test-heading:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 13%;
  left: 28%;
}
.test-image {
  position: absolute;
  top: 20%;
  right: 5%;
}
.port-container{
	margin:auto;
	width:100%;
}
.port-head1{
	font-size:20px;
}
.port-heading{
  position: relative;
}

.port-head1:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 6%;
  right: 31%;
}
.port-head1:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 6%;
  left: 31%;
}
.port-row{
	display:flex;
	flex-wrap:wrap;
}
.port-col{
	width:50%;
}
.port-hp1 {
  padding-left: 20px;
  padding-top: 100px;
  color: #fff;
}
.team-container{
	margin:auto;
	width:100%;
}
.team-row{
	display:flex;
	flex-wrap:wrap;
}
.team-col{
	width:50%;
}
.team-heading{
  position: relative;
}
.team-head:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 14%;
  right: 32%;
}
.team-head:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #3a73cf;
  top: 14%;
  left: 32%;
}
.team-hp{
	width:330px;
}
.team-icon{
	width:330px;
}
.price-container{
	width:100%;
	margin:auto;
}
.price-head:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 12%;
  right: 4%;
}
.price-head:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 12%;
  left: 4%;
}
.price-row {
  display: flex;
  flex-wrap:wrap;
}
.price-col {
  width: 100%;
  padding-bottom: 15px;
}
.faq-container{
	margin:auto;
	width:90%;
}
.faq-head{
	font-size:28px;
}
.faq-head:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #139de8;
  top: 50%;
  right: 40%;
}
.faq-head:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #139de8;
  top: 11%;
  left: 0%;
}
.faq-row {
  display: flex;
  flex-wrap:wrap;
}
.faq-col1 {
  width: 100%;
}
.faq-col2 {
  width: 100%;
  padding-top:20px;
}
.contact-container{
	margin:auto;
	width:90%;
}
.contact-head{
	font-size:20px;
}
.contact-head:after {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 10%;
  right: 1%;
}
.contact-head:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  background-color: #139de8;
  top: 10%;
  left: 1%;
}
.contact-row {
  display: flex;
  flex-wrap:wrap;
}
.contact-col1 {
  width: 100%;
  padding-bottom: 30px;
}
.contact-col2 {
  width: 100%;
  padding-bottom:30px;
}
.contact-col3 {
  width: 100%;
}
.input5{
	padding-left:68px;
}

.footer-container {
  margin: auto;
  width: 100%;
}
.footer-row {
  display: flex;
  flex-wrap:wrap;
}
.footer-col {
  width: 100%;
  padding-bottom:20px;
}
.footer-col1{
	width:100%;
}
.foot-a{
	font-size:12px;
}
}
